<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thread>
            <tr>    
                <th> Vendor </th>
                <th> Total </th> 
                <th> Tax </th> 
                <th> Date </th> 
                <th> Category </th> 
                <th> Account </th> 
            </tr>
            </thread>
            <tbody>    
               {% for receipt in receipt_list %} 
                <tr>  
                    <td> {{receipt.vendor}} </td>
                    <td> {{receipt.total}} </td> 
                    <td> {{receipt.tax}} </td> 
                    <td> {{receipt.date|date:"m-d-Y"}} </td>  
                    <td> {{receipt.category}} </td> 
                    <td> {{receipt.account}} </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>




                    
            </tbody>
        </table>    
    </main>
</body>
</html>



{% comment %} <tr> Vendor </tr>
                        <tr>{{vendor.receipt}}</tr>
                    <tr> Total </tr>
                        <tr> {{vendor.total}}</tr>
                    <th>Tax</th>
                        <tr> {{vendor.tax}}</tr>
                    <th>Date</th>
                        <tr> {{vendor.date}}</tr>
                    <th>Category</th>
                        <tr> {{vendor.category}}</tr>
                    <th>Account</th>
                        <tr> {{vendor.account}}</tr> {% endcomment %}